@tailwind base;
@tailwind components;
@tailwind utilities;

/* Ensure full-width background */
html,
body,
#root {
  width: 100%;
  min-width: 100%;
  margin: 0;
  padding: 0;
  overflow-x: hidden;
}

details[open] .details-arrow {
  transform: rotate(90deg);
}